<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ART CORNER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/art.css') }}">
    <script src="https://kit.fontawesome.com/9574fb689b.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="body">
        <div class="canvas-container" id="background ">
            

            <!-- Includes background -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
            <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
            <script src="{{ url_for('static', filename='js/PlantBowl.js') }}"></script>
            <script src="{{ url_for('static', filename='js/drawMethods.js') }}"></script>
            <script src="{{ url_for('static', filename='js/easing.js') }}"></script>
            <script src="{{ url_for('static', filename='js/NY-helpers.js') }}"></script>
        </div>
        <div class="overlay-content">
            <h1>Art Corner</h1>
            <p>This content is overlaid on top of the canvas.</p>

            <p></p>
            <div class = "list">
            <div class ="image1" id ="same">
                <img src="{{url_for('static', filename='images/personal/image1.jpg')}}" alt="hi">
            </div>
            <div class="image2" id ="same">
                <img src="{{url_for('static', filename='images/personal/image2.jpg')}}" alt="are">
            </div>
            <div class="image3" id ="same">
                <img src="{{url_for('static', filename='images/personal/image3.jpg')}}" alt="you">
            </div>
            <div class="image4" id ="same">
                <img src="{{url_for('static', filename='images/personal/image4.jpg')}}" alt="ok">
            </div>
            <div class="image5" id ="same">
                <img src="{{url_for('static', filename='images/personal/image5.jpg')}}" alt="?">
            </div>
        </div>
        </div>
    </div>
</body>
