<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ASCII Image Generator</title>
    <link rel="icon" href="static/images/pfp.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body class="main">
    <div class="parent">
        <figure class="container">
            <img src="{{ url_for('static', filename='images/streetfight.gif') }}" alt="gif-image" class="gif-image" style="width:80px;height:70px;">
            <h1 class="head">Hospitality awaits you, my comrade-grateful for your visit!!</h1>
            <p class="sub">Generate amazing ASCII art from images with ease.</p>
            <p class="sub">Our goal is to provide a simple yet powerful tool for transforming your favorite images into beautifully crafted ASCII art. Whether you are looking for a creative way to represent an image, add a unique touch to your projects, or just have fun experimenting with ASCII art, we have got you covered!</p>
            <p class="sub">With just a few clicks, you can upload any image and turn it into art that uses characters instead of pixels. ASCII art has a rich history, and we aim to keep that tradition alive by making it accessible to everyone. Explore, create, and share your creations!</p>
            <p class="sub">Enjoy the power of text-based creativity, and let your imagination flow.</p>
            <p>sdadkasdasjhdkasjdaskdkajsdhkashdkahsdhasdjskdhkashdjkhaskdhaksdjhsdkashdj</p>
            <p>sdadkasdasjhdkasjdaskdkajsdhkashdkahsdhasdjskdhkashdjkhaskdhaksdjhsdkashdj</p>
            <p>sdadkasdasjhdkasjdaskdkajsdhkashdkahsdhasdjskdhkashdjkhaskdhaksdjhsdkashdj</p>
            <p>sdadkasdasjhdkasjdaskdkajsdhkashdkahsdhasdjskdhkashdjkhaskdhaksdjhsdkashdj</p>
            <p>sdadkasdasjhdkasjdaskdkajsdhkashdkahsdhasdjskdhkashdjkhaskdhaksdjhsdkashdj</p>
            <p>sdadkasdasjhdkasjdaskdkajsdhkashdkahsdhasdjskdhkashdjkhaskdhaksdjhsdkashdj</p>
        </figure>

        <div class="child1">
            <a href="projects.html" class="link"><img src="{{ url_for('static', filename='images/car.gif') }}" alt="gif-image" style="width: 55px;height:55px;"></a><br>
            <a href="art.html" class="link">Art</a><br>
            <a href="Music.html" class="link">Music</a><br>
            <a href="blog.html" class="link">Blog</a><br>
            <a href="about.html" class="link">About Me</a><br>
        </div>

        <div class="child2">
            <img src="{{ url_for('static', filename='images/500x744 px.gif') }}" alt="gif-image" class="gif-image1" style="width:48px;height:48px;">
            <img src="{{ url_for('static', filename='images/car.gif') }}" alt="gif-image" class="gif-image1" style="width: 55px;height:55px;">
            <img src="{{ url_for('static', filename='images/particle.gif') }}" alt="gif-image" class="gif-image1" style="width: 55px;height:55px;">
        </div>
        <div class="child3">
            <img src="{{ url_for('static', filename='images/streetfight.gif') }}" alt="gif-image1" class="gif-img" style="width: 55px;height:55px;">
        </div>
        <div class="child4">
            <div class="header">
                <img src="{{ url_for('static', filename='images/emojino.gif') }}" alt="gif-image1" class="gif-img" style="width: 100px;height:70px;">
                <h1>Howdy!!</h1>
                <h1>This is</h1>
                <p>N</p>
                <p>O</p>
                <p>D</p>
                <p>Y</p>
                <p>H</p>
                <p>O</p>
                <p>D</p>
                <p>Y</p>
            </div>
        </div>
    </div>
</body>
</html>
